<% if @review.errors.present? %>
  $(".review-form-errors").html("<%=j  render partial: '/products/review_form_errors' %>");
<% else %>
  $('.review-form-errors').html("");  // needs to clear the errors area!
  $('#review-list').append("<%= j render partial: 'new_review' %>");
  // $("div.review:last-child").css({background-color:"blue"});
  $('#new_review')[0].reset();  //reset the typein box
  
<% end %>


// alert("I am responding!");
// $('.comment').prepend(<p> + "<%= j @review.comment %>" + </p>);
